.button {
  @include set-color(get-color(tint));
  color: get-color(secondary);
  text-decoration: none;
  border-radius: 2px;
  padding: .2em .5em;
  box-shadow: 0 2px 2px rgba(map-get($color-theme, tertiary ),0.2);
  transition: all .2s ease;
  &:hover {
    background-color: get-color(white);
  }
}

.button-big {
    @include set-color(map-get($color-theme, secondary));
    margin: 0 auto;
    height: auto;
    padding: 1em 2em;
    font-size: 1.5rem;
    border: none;
    transition: all .2s ease;
    text-align: center;
    &:hover {
      @include set-color(map-get($color-theme, primary));
      box-shadow: 0 .1em .1em map-get($color-theme, secondary );
      transform: translateY(-.1em);
    }
  
}