header#site-header {
  $color: get-color(primary);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  @include set-color($color);
  color: get-color(tint);
  min-height: 100px;
  z-index: 1001;
  background: linear-gradient(-45deg,  get-color(tint), get-color(primary), get-color(secondary) ); 
  background-size: 400% 400%;
  animation: Gradient 30s ease infinite;
    text-shadow: 0 .1em .1em get-color(tertiary);
}

.topnav {
  text-align: center;
  $color: get-color(secondary);
  display: flex;    
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  @include set-color($color);
  box-shadow: 0 2px 2px rgba( get-color(tertiary),0.2);
  > div {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
  .nav-left {
    justify-content: flex-start;
  } 
  .nav-right {
    justify-content: flex-end;
  }
  ul {
    list-style: none;
  }
  a {
    padding: 1rem;
    transition: background-color .1s ease;
    color: get-color(tint);
    text-shadow: 0 1px 1px get-color(tertiary);
    &:hover {
      background-color: get-color(primary);
      color: get-color(white);
    }
    i {
      width: 16px;
    }
    &:last-child {
      justify-self: flex-end;
    }
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}