<section class="constrain-lg">
  <h1>About Me</h1>
  <img src="/images/dp.png" alt="Picture of Anthony Reynolds">
  <h2>Technologies I Use</h2>
  <ul>
    <li><img src="/images/logos/html.png" alt=""/> HTML</li>
    <li>CSS</li>
    <li><img src="/images/logos/sass.svg" alt="" />SCSS</li>
    <li><img src="/images/logos/javascript.png" alt=""/> JAVASCRIPT</li>
    <li><img src="/images/logos/pug.svg" alt=""/>PUG</li>
    <li><img src="/images/logos/react.png" alt=""/>REACT</li>
    <li><img src="/images/logos/webpack.svg" alt=""/> WEBPACK</li>
    <li><img src="/images/logos/nixos.png" alt=""/>NIX</li>
    <li>NIXOS</li>
    <li><img src="/images/logos/vim.svg" alt=""/>VIM</li>
    <li><img src="/images/logos/haskell.svg" alt=""/>HASKELL</li>
  </ul>
</section>