<section id="about-title" class="constrain-lg">
  <h1>About Me</h1>
</section>
<section id="personal-details" class="constrain-lg color-bg-tint">
  <div class="deets color-bg-white collapse-grid-sm">

    <div class="dp"></div>
    <div>
      
      <h3>Working at: Hire me!</h3>
      <h3>Location: Brisbane, Australia</h3>
    </div>
    <div>
      <p>Some text about myself...</p>
    </div>
  </div>
</section>
<section class="constrain-lg">
  <h2>Technologies I Use</h2>
  <div class="tech-card-area">
    <div class="card">
      <div class="card-title">
        <h3>Haskell</h3>
      </div>
      <div class="card-image">
        <img src="/images/logos/haskell.svg" alt="">
      </div>
      <div class="card-body">
        <p>Lorem Ipsum</p>
      </div>
      <div class="card-footer">
        <a href="#">More Info...</a>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h3>Nix</h3>
      </div>
      <div class="card-image">
        <img src="/images/logos/nixos.svg" alt="">
      </div>
      <div class="card-body">
        <p>Lorem Ipsum</p>
      </div>
      <div class="card-footer">
        <a href="#">More Info...</a>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h3>vim</h3>
      </div>
      <div class="card-image">
        <img src="/images/logos/vim.svg" alt="">
      </div>
      <div class="card-body">
        <p>Lorem Ipsum</p>
      </div>
      <div class="card-footer">
        <a href="#">More Info...</a>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h3>Javascript</h3>
      </div>
      <div class="card-image">
        <img src="/images/logos/javascript.svg" alt="">
      </div>
      <div class="card-body">
        <p>Lorem Ipsum</p>
      </div>
      <div class="card-footer">
        <a href="#">More Info...</a>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h3>React</h3>
      </div>
      <div class="card-image">
        <img src="/images/logos/react.svg" alt="">
      </div>
      <div class="card-body">
        <p>Lorem Ipsum</p>
      </div>
      <div class="card-footer">
        <a href="#">More Info...</a>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h3>Webpack</h3>
      </div>
      <div class="card-image">
        <img src="/images/logos/webpack.svg" alt="">
      </div>
      <div class="card-body">
        <p>Lorem Ipsum</p>
      </div>
      <div class="card-footer">
        <a href="#">More Info...</a>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h3>Pug</h3>
      </div>
      <div class="card-image">
        <img src="/images/logos/pug.svg" alt="">
      </div>
      <div class="card-body">
        <p>Lorem Ipsum</p>
      </div>
      <div class="card-footer">
        <a href="#">More Info...</a>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h3>Sass</h3>
      </div>
      <div class="card-image">
        <img src="/images/logos/sass.svg" alt="">
      </div>
      <div class="card-body">
        <p>Lorem Ipsum</p>
      </div>
      <div class="card-footer">
        <a href="#">More Info...</a>
      </div>
    </div>
  </div>
</section>