<footer class="constrain-lg collapse-grid-sm">
  <ul>
    <li><a href="#">Site Source</a></li>
    <li><a href="/sitemap.html">Site Map</a></li>
    <li><a href="#">Legal</a></li>
    
    
    
  </ul>
  <div>
    <h4>About My Site</h4>
    <p>This is a static website written in Haskell using the static site generator library Hakyll. I've created my own style, theme and layout system in sass. This website project is managed with Nix and deployed to githubpages</p>
  </div>
  <div class="social-links">
    <a href="https://github.com/m0n4d1"><i class="fab fa-github"></i> GitHub</a>
    <a href="https://codepen.io/m0n4d"><i class="fab fa-codepen"></i> CodePen</a>
    <a href="https://twitter.com/M0n4d1"><i class="fab fa-twitter"></i> Twitter</a>
  </div>
</footer>
<div class="subfooter">
  <h6>Copyright &copy 2019 - Anthony Reynolds</h6>
</div>