<footer class="constrain-lg">
  <ul>
    <li><a href="#">Site Source</a></li>
    <li><a href="/sitemap.html">Site Map</a></li>
    <li><a href="#">Legal</a></li>
    
    
    
  </ul>
  <p>this is the footer</p>
  <div class="social-links">
    <a href="https://github.com/m0n4d1"><i class="fab fa-github"></i> GitHub</a>
    <a href="https://codepen.io/m0n4d"><i class="fab fa-codepen"></i> CodePen</a>
    <a href="https://twitter.com/M0n4d1"><i class="fab fa-twitter"></i> Twitter</a>
  </div>
</footer>
<div class="subfooter">
  <h6>Copyright &copy 2019 - Anthony Reynolds</h6>
</div>