<header id="site-header">
  <a href="/" id="site-heading">ANTHONY REYNOLDS</a>
</header>

<nav class="constrain-lg topnav">
  <div class="nav-left">
    <a href="/"><i class="fas fa-home"></i> Home</a>
    <a href="/posts.html"><i class="fas fa-file-alt"></i> Posts</a>
    <a href="/portfolio.html"><i class="fas fa-address-card"></i> Portfolio</a>
    <a href="/about.html"><i class="fas fa-info-circle"></i> About</a>
  </div>
  <div class="nav-right hide-sm">
    <a href="#"><i class="fas fa-code"></i> Source Code</a>
  </div>
</nav>