<header id="site-header">
  <a href="/" id="site-heading">ANTHONY REYNOLDS</a>
</header>

<nav class="constrain-lg topnav">
  <div class="nav-left">
    <a href="/"><i class="fas fa-home"></i> <span class="hide-sm">Home</span></a>
    <a href="/posts.html"><i class="fas fa-file-alt"></i> <span class="hide-sm">Posts</span></a>
    <a href="/portfolio.html"><i class="fas fa-address-card"></i> <span class="hide-sm">Portfolio</span></a>
    <a href="/about.html"><i class="fas fa-info-circle"></i> <span class="hide-sm">About</span></a>
  </div>
  <div class="nav-right">
    <a href="https://github.com/m0n4d1/anthonyreynolds.dev"><i class="fas fa-code"></i> <span class="hide-sm">Source Code</span></a>
  </div>
</nav>