$custom-theme: (
  primary: #8A99A6,
  secondary: #485359,
  tertiary: #333B40,
  tint: #D2D6D9,
  highlight: #FF3D2E,
  white: #F2F2F2,
  black: #1E1E1E
);
$custom2-theme: (
  primary: #FF3D2E,
  secondary: #485359,
  tertiary: #333B40,
  tint: #D2D6D9,
  white: #F2F2F2,
  black: #1E1E1E
);

$alt-theme: (
  primary: #737373,
  secondary: #262626,
  tertiary: #0D0D0D,
  tint: #BFBFBF,
  white: #F2F2F2,
  black: #000
);
$alt2-theme: (
  primary: #F28627,
  secondary: #BF5934,
  tertiary: #73392C,
  tint: #BF895A,
  white: #fff,
  black: #011826
);
$color-theme: $custom-theme; 

@function get-color($color) {
  @return map-get($color-theme,$color) or $color;
}

@function balance-color($color) {
  @if lightness($color) >= 60 {
    @return map-get($color-theme,black);
  } @else {
    @return map-get($color-theme,white);
  }
}

@function brightness_($color,$num) {
  @if $num > 0 {
    @return lighten($color,$num);
  } @else {
    @return darken($color,-$num);    
  }
}

@mixin set-color($bg-color,$brightness: 0) {
  $color: brightness_($bg-color,$brightness);
  background-color: $color;
  color: balance-color($color);
}

@each $color, $val in $color-theme {
  .color-bg-#{$color} {
    @include set-color($val);
  }
}
